<h1>Angular Custom Form Control</h1>
<h2>Segment Control || Button Groups || Button Toggles</h2>
<main>
  <section class="container">
    <h3>Example for Simple Control (Template Form)</h3>
    <app-segment-control [segments]="choices" [(ngModel)]="selectedChoice" (selectionChange)="logger($event)"
      [disabled]="choicesDisabled">
    </app-segment-control>
    <div>
      <label for="choicesDisabler">
        Disable Segment
        <input type="checkbox" name="choicesDisabler" id="choicesDisabler" [(ngModel)]="choicesDisabled">
      </label>
    </div>
    <div>
      Current Value: {{selectedChoice}} <br>
      Disabled: {{choicesDisabled}}
    </div>
  </section>
  <section class="container">
    <h3>Multiple Selections</h3>
    <app-segment-control [segments]="companies" [(ngModel)]="selectedCompany" (selectionChange)="logger($event)"
      [disabled]="companiesDisabled"></app-segment-control>
    <div>
      <label for="companyDisabler">
        Disable Segment
        <input type="checkbox" name="companyDisabler" id="companyDisabler" [(ngModel)]="companiesDisabled">
      </label>
    </div>
    <div>
      Current Value: {{selectedCompany}} <br>
      Disabled: {{companiesDisabled}}
    </div>
  </section>
  <section class="container">
    <h3>Single Selection with Required Validator (Reactive Form)</h3>
    <app-segment-control [segments]="saiyans" [formControl]="selectedSaiyan" (selectionChange)="logger($event)">
    </app-segment-control>
    <div>
      Current Value: {{selectedSaiyan.value}}
    </div>
    <div class="json">
      {{selectedSaiyan | json}}
    </div>
  </section>
  <section class="container">
    <h3>Multiple Selections with Required Validator (Reactive Form)</h3>
    <app-segment-control [multiple]="multiFruits" [segments]="fruits" [formControl]="selectedFruit"
      (selectionChange)="logger($event)">
    </app-segment-control>
    <div>
      Current Value: {{selectedFruit.value}}
    </div>
    <div>
      <label for="multiple">
        Multiple Selections
        <input type="checkbox" name="multiple" id="multiple" [(ngModel)]="multiFruits">
      </label>
    </div>
    <div class="json">
      {{selectedFruit | json}}
    </div>
  </section>
</main>
